body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root {
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 180px;
  cursor: pointer;
  fill: #ff383f;
  transition: fill 300ms ease-out;
}

.App-logo:hover {
  fill: #61dafb;
  animation-play-state: running;
}

.App-header {
  height: 180px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.start {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white,
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  display: block;
  height: 240px;
  position: relative;
  width: 240px;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start:hover {
  background-color: #f4f1ee;
  color: #0088cc;
}

.start.active {
  background-color: #f7f4f4;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  opacity: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --futura-pt-book: FTN45__W;
  --futura-pt-heavy: FTN75__W;
  --futura-pt-oblique: FTN46__W;
  --futura-pt-extra-bold-oblique: FTN96__W;
  --webFontLocation: 'https://assets.asosservices.com/MasterLayout/WebFonts/';

  --futura-pt-book: FTN45__W;
  --futura-pt-heavy: FTN75__W;
  --futura-pt-oblique: FTN46__W;
  --futura-pt-extra-bold-oblique: FTN96__W;
}

/* Generated by ParaType (http://www.paratype.com)
    Font Futura PT Book: Copyright © ParaType, 2015. All rights reserved.
    Font Futura PT Heavy: Copyright © ParaType, 2015. All rights reserved.
    Font Futura PT Extra Bold: Copyright © ParaType, 2015. All rights reserved. */

@font-face {
  font-family: 'futura-pt';
  src: url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.eot');
  src: url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.eot?#iefix')
      format('embedded-opentype'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.woff2')
      format('woff2'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.woff')
      format('woff'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.ttf')
      format('truetype'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.svg#FuturaPTWeb-Book')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'futura-pt';
  src: url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.eot');
  src: url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.eot?#iefix')
      format('embedded-opentype'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.woff2')
      format('woff2'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.woff')
      format('woff'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.ttf')
      format('truetype'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.svg#FuturaPTWeb-Heavy')
      format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'futura-pt';
  src: url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.eot');
  src: url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.eot?#iefix')
      format('embedded-opentype'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.woff2')
      format('woff2'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.woff')
      format('woff'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.ttf')
      format('truetype'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN45__W/FTN45__W\.svg#FuturaPTWeb-Book')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'futura-pt';
  src: url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.eot');
  src: url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.eot?#iefix')
      format('embedded-opentype'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.woff2')
      format('woff2'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.woff')
      format('woff'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.ttf')
      format('truetype'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN75__W/FTN75__W\.svg#FuturaPTWeb-Heavy')
      format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'futura-pt';
  src: url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN46__W/FTN46__W\.eot');
  src: url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN46__W/FTN46__W\.eot?#iefix')
      format('embedded-opentype'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN46__W/FTN46__W\.woff2')
      format('woff2'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN46__W/FTN46__W\.woff')
      format('woff'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN46__W/FTN46__W\.ttf')
      format('truetype'),
    url('https://assets.asosservices.com/MasterLayout/WebFonts/FTN46__W/FTN46__W\.svg#FuturaPTWeb-BookObl')
      format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'futura-pt-bold';
  src: url('FTN95.otf');

  font-weight: 800;
  font-weight: bold;
}

.canvas {
  /* max-width: 375px; */
  margin: 0 auto;
  /* background: black; */
  /* min-height: 100%; */
  position: relative;
  /* overflow: hidden; */

  flex: 1 1 auto;
}

.headerStart {
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('./images/bag-scale.png');
  margin-bottom: 36px;
}

.headerStart:after {
  content: '';

  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: black;
}

.headerStart h3 {
  text-align: center;
  color: #fff;
  font-family: 'futura-pt-bold', 'FuturaStd', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 44px;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 2;
}

.answer {
  border: 8px solid black;
  padding: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: black;
  font-family: 'futura-pt-bold', 'FuturaStd', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 26px;

  letter-spacing: 1px;
}

.blackFont {
  color: black !important;
}

.centered {
  display: flex;
  align-items: center;
}

.cardImage,
.cardMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardImage {
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.cardImageBorder {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.cardMaskBorder {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.cardImage1 {
  background-image: url('./images/card1.jpg');
}
.cardImage2 {
  background-image: url('./images/card2.jpg');
}
.cardImage3 {
  background-image: url('./images/card3.jpg');
}
.cardImage4 {
  background-image: url('./images/card4.jpg');
}
.cardImage5 {
  background-image: url('./images/card5.jpg');
}
.cardMask {
  opacity: 0.8;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  width: 100%;
  height: 100%;
}

.lineHeightMore {
  line-height: 34px !important;
}

.cardWrapper {
  position: relative;
  padding: 18px;
}
.titleText {
  text-align: center;
  color: #fff;
  font-family: 'futura-pt', 'FuturaStd', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.question {
  text-align: center;
  color: #fff;
  font-family: 'futura-pt-bold', 'FuturaStd', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.question_minified {
  text-align: center;
  color: black;
  font-family: 'futura-pt-bold', 'FuturaStd', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 4px;
  margin-top: 12px;
}
.answer_minified {
  text-align: center;
  color: black;
  font-family: 'futura-pt', 'FuturaStd', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
}
.information {
  text-align: center;
  font-family: 'futura-pt-n4', 'futura-pt', Tahoma, Geneva, Verdana, Arial,
    sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  color: #fff;
  margin-bottom: 32px;
}
.informationLarge {
  font-size: 20px;
  line-height: 22px;
}
.optionButton {
  font-family: 'futura-pt', 'FuturaStd', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  background: #fff;
  color: #2d2d2d;
  padding: 6px 10px;
  border: 0;
  width: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.withBottomMargin {
  /* margin-bottom:40px; */
}
